AIRFLOW_UID=1000

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_CLUSTER_ID=clYp6b9_3S26H4797k_pq3_b1
KAFKA_TOPIC=weather-topic

MINIO_SERVER=minio:9000
MINIO_ROOT_USER=mioadmin
MINIO_ROOT_PASSWORD=mioadmin
BUCKET_NAME=weather-bucket

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=weather_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
