AIRFLOW_UID=1000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

KAFKA_CLUSTER_ID=clYp6b9_3S26H4797k_pq3_b1
KAFKA_TOPIC=weather_raw

MINIO_SERVER=minio:9000
MINIO_ROOT_USER=mioadmin
MINIO_ROOT_PASSWORD=mioadmin

CLICKHOUSE_DB=weather
CLICKHOUSE_USER=chadmin
CLICKHOUSE_PASSWORD=chadmin
